@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  overflow-x: hidden;
}

body {
  /* next/font sets --font-geist-sans on <body>. Define --font-sans here so it resolves correctly */
  --font-sans: var(--font-geist-sans);
  background: var(--background);
  color: var(--foreground);
  /* font-family: "IBM Plex Sans Arabic", sans-serif; */
  font-family: var(--font-sans);
}

a {
  text-decoration: none;
}